#listaPatrocinadores{
    list-style-type: none;
    padding-left: 0;
}
#listaPatrocinadores > li{
    font-size: larger;
}
#listaPatrocinadores > li::before{
    margin-right: 8px;
}

#botonHamburguesaMovil{
    color: white;
    background-color: #020D38;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 24rem;
    top: 1rem;
}
#botonHamburguesaMovil:hover{
    background-color:white;
    color: black
}
#botonHamburguesaMovil:active{
    background-color: #020D38;
    color: white;
}

.dosPinosLink a{
    color: green;
    text-decoration: none;
}
.dosPinosLink::before{
    content: "🌲";
}


.microsoftLink a{
    color:red;
    text-decoration: none;
}
.microsoftLink::before{
    content: "🖥️";
}


.toyotaLink a{
    color: grey;
    text-decoration: none;
}
.toyotaLink::before{
    content: "🚗";
}


.accentureLink a{
    color: blueviolet;
    text-decoration: none;
}
.accentureLink::before{
    content: "🫧";
}
#formularioInscripcion{
    width: 90%;
    height: auto;
    background-color:cornflowerblue;
    border: 5px solid #020D38;
    padding: 20px;
    display: inline-grid;
    grid-template-columns:150px 1fr;
    gap: 10px;
    margin-bottom: 10%;
    margin-left: 2%;
}


#formularioInscripcion h2{grid-column: span 2;}
#formularioInscripcion p{grid-column: span 2; font-size: 100%;}

#formularioInscripcion button:hover{
    background-color: rgb(0, 29, 43);
    color:white;
}
#formularioInscripcion button:active{
    background-color: green;
}


button{
    width: 90%;
}

#formularioInscripcion button{grid-column: span 2; height: 50px;}


input[type="text"]{
    width: 80%;
    background-color: rgb(150, 147, 145);
    border: 2px inset rgb(0, 0, 92);
}
input[type="text"]:focus{
    background-color: white;
}

input[type="email"]{
    width: 80%;
    background-color: rgb(150, 147, 145);
    border: 2px inset rgb(0, 0, 92);
}
input[type="email"]:focus{
    background-color: white;
}
img[alt]{
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

img[alt="Cristiano ronaldo con traje y corbata sentado en una banca fina con un fondo blanco"]{
    height: auto;
    max-width: 100%;
    margin-right: 70px;
}

.tabla{
    border-style:ridge;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.tabla thead tr th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgreen;
    color: white;
}
.tabla tbody tr:hover td{
    background-color: darkblue;
    color: white;
}
.tabla tbody tr td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lightcyan;
}


.listaSecciones{
    list-style-type: none;
    
}
.listaSecciones li{
    margin-top: 5%;
    
}
.seccionIngenieria a{
    color: #020D38;
    text-decoration: none;
}
.seccionIngenieria::before{
    content: "👨‍🔬";
}


.seccionAgenda a{
    color: darkgreen;
    text-decoration: none;
}

.seccionAgenda::before{
    content: "📅";
}

.seccionFormulario a{
    color: mediumslateblue;
    text-decoration: none;

}
.seccionFormulario::before{
    content: "📃";
}

.seccionUbicacion a{
    color:indigo;
    text-decoration: none;
}
.seccionUbicacion::before{
    content: "📍";
}


.seccionPatrocinadores a{
    color:black;
    text-decoration: none;
}
.seccionPatrocinadores::before{
    content: "💵";
}

#menuNavegacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0%;
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 100%;
}
#ingenierias{
    box-sizing: border-box;
    height: 800px;
    width: 100%;
    overflow: auto;
}

@media (min-width: 800px){
    .hero{
        display: flex;
        grid-column: span 2;
        justify-content: center;
    }
    #parrafoAbsolute{
        margin-left: 5%;
    }
    .listaSecciones li{
        margin-top: 15%;

    }
    #formularioInscripcion{
        height: auto;
        width: 90%;
        margin-left: 2%;
    }
    #menuNavegacion{
        align-self: stretch;
        padding: 0%;
    }
    .tabla{
        max-width: 100%;
        height: auto;
    }
    #ingenierias{
        align-self: stretch;
    }
}
@media (min-width: 1024px){
    #formularioInscripcion{
        height: auto;
        width: 88%;
    }
    .hero{
        display: flex;
        grid-column: span 3;
        justify-content: center;
    }
}